* {
    margin: 0;
    color: white;
    font-family: sans-serif;
}
#background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}

header button {
    margin: 8px;
    padding: 10px;
    border: none;
    background-color: rgb(206, 155, 108);
    border-radius: 10%;
    cursor: pointer;
}

header {
    background-color: rgb(206, 155, 108);
}

h1 {
    padding: 5px;
    text-align: center;
    background-color: rgb(182, 175, 175);
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

tr,
th,
td {
    color: black;
}

th,
td {
    padding: 15px;
}

table,
th,
td {
    border: 1px solid black;
}
