<html>
    <link rel="stylesheet" href="index.css" />
    <body>
        <img id="background" src="library.jpg" />
        <header>
            <button onclick="location.href='/getallbooks'">View Books</button>
            <button onclick="location.href='/addbook'">Add Book</button>
            <button onclick="location.href='/updatebook'">Update Book</button>
            <button onclick="location.href='/deletebook'">Delete Book</button>
            <button onclick="location.href='/addauthor'">Add Author</button>
            <button onclick="location.href='/getallauthors'">
                View Author
            </button>
            <button onclick="location.href='/updateauthor'">
                Update Author
            </button>
        </header>
        <h1>Welcome To The Library</h1>
        <img id="logo" src="logo.jpg" />
    </body>
</html>
